@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
      @apply rounded bg-slate-200 dark:bg-white hover:bg-neutral-200 text-black p-3 md:p-6 md:py-4 disabled:opacity-50 disabled:cursor-not-allowed
    }
    input, textarea {
      @apply rounded bg-slate-200 dark:bg-white hover:bg-neutral-200 focus:bg-neutral-200 text-black p-1 md:p-2 disabled:opacity-50 disabled:cursor-not-allowed
    }
    .btn.-transparent {
      @apply bg-transparent hover:bg-slate-400 hover:bg-opacity-10 text-black dark:text-white
    }
    .btn.-icon {
      @apply flex gap-2 flex-nowrap items-center
    }
  }