---
import Post from '../components/Post'
import Layout from '../layouts/Layout.astro'
---

<Layout title="{{ page__title }}" index={true}>
    {'{% for post in posts %}'}
        <Post />
    {'{% endfor %}'}
</Layout>
