---
import Comment from '../components/Comment'
import Post from '../components/Post'
import Layout from '../layouts/Layout.astro'
---

<Layout title="{{ page__title }}" index={true}>
    <Post />
    <div class="px-4 md:px-8">
        {'{% for comment in comments %}'}
        <Comment />
        {'{% endfor %}'}
    </div>
</Layout>
