---
import Header from '../components/Header'
import Menu from '../components/Menu'
import Modal from '../components/Modal'

import '../style.css'

export interface Props {
	title: string
	index?: boolean
}

const { title, index = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="bg-neutral-50 dark:bg-neutral-900 dark:text-white">
		<div class="mx-auto relative flex container border-r md:border-x">
			<Menu client:load index={index} />
			<div class="w-full">
				<div class="sticky top-0 bg-neutral-50 dark:bg-neutral-900 z-10">
					<Modal client:load />
					<Header />
				</div>
				<main class="mx-4 md:mx-8 border-x">
					<slot />
				</main>
			</div>
		</div>
	</body>
</html>
